@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// font-size

html{
  font-size: 0.26666666667vw;
}
.clearblack{color: #999;}
.f16{font-size: 16rem;}
.f18{font-size: 18rem;}
body,html{background-color: #f7f7fa;}
.mt-1{margin-top: 5vw;}
.pd-m-1{padding: 2vw;}
.pd-1{padding: 5vw;}
.backwhite{background-color: white;}
.text-center{text-align: center;}
.contain{padding-bottom: 50px;}
.weui-btn{
  width: 80%;
  margin-right: 4vw;
  margin-left: 4vw;
  border-radius: 8px;
}